<!DOCTYPE html>
<html lang="en">

<head>
  {{> 'partials/head' }}

  <title>Rate limited by Imgur - rimgo</title>
</head>

<body>
  {{> 'partials/header' }}

  <main>
    <h2 class="errorTitle">Rate limited by Imgur</h2>
    <p class="errorTitle">This instance has been temporarily blocked by Imgur. <a href="https://codeberg.org/video-prize-ranch/rimgo#instances">Try using another instance</a>.</p>
  </main>

</body>

</html>