.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comments {
  margin-top: 1em;
  gap: 0.25em;
  display: flex;
  flex-direction: column;
}

.replies {
  margin-left: 20px;
  border-left: 2px #424242 solid;
  padding-left: 8px;
}

#comments__expandBtn {
  display: none;
}

.comments__expandBtn__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: #fff
}

.comments__expandBtn__icon {
  font-size: 24px;
}

#comments__expandBtn ~ .comments__expandBtn__label > span::after {
  content: "⌄";
}

#comments__expandBtn:checked ~ .comments__expandBtn__label > span::after {
  content: "⌃";
}

#comments__expandBtn:checked ~ .comments {
  display: none;
}

.comment__media {
  height: 10em;
  display: block;
  margin: 0.5em 0;
}

.comment__updatedDate {
  font-size: 0.8em;
}

.comment__user {
  display: flex;
  gap: 6px;
  align-items: center;
}

.comment__user__username {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}